* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PoppinsCustom", sans-serif;
}

.sale-banner {
  font-family: "Roboto", sans-serif;
  background-color: #fac6ae;
  color: black;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.sale-banner p {
  background: inherit;
}

nav {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  transition: all 0.3s ease;
}

/* Navigation layout */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 0 auto;
}

/* Logo container */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 75px;
  width: auto;
  transition: height 0.3s ease;
}

/* Navigation icons */
.nav-icons {
  display: flex;
  gap: 1px;
  justify-content: flex-end;
  align-items: center;
}

.nav-icons a {
  color: black;
  text-decoration: none;
  border-radius: 50%;
  padding: 8px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.nav-icons a:hover {
  color: #fac6ae;
  background-color: rgba(250, 198, 174, 0.1);
}

.main-contant {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  overflow: visible;
  border-bottom: 1px solid #7d7d7d63;
}

.checkout-form {
  width: 55%;
  padding: 40px;
  border-right: 1px solid #7d7d7d63;
}

.section {
  border-bottom: 1px solid #ddd;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.section-header a {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
}
/* inputs */
.section-input input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  margin-top: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.checkbox {
  display: flex;
  margin-top: 10px;
  font-size: 14px;
}

.checkbox input {
  margin-right: 8px;
}

.country-select {
  width: 100%;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 12px;
  color: #333;
}

.row {
  display: flex;
  gap: 12px;
}
.row input {
  width: 50%;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 12px;
}
.col input {
  width: 100%;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 12px;
}
.phone-nmuber {
  width: 100%;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 12px;
}
.muted {
  color: #777;
  font-size: 14px;
}

/* Boxed options */
.boxed-option {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxed-option.active {
  border: 2px solid black;
}
.billing-address {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
/* Button */
.complete-order-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.complete-order-btn a {
  padding: 18px 40px;
  width: 80%;
  background: #f6c7b6;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: all 0.3s ease;
}
.complete-order-btn a:hover {
  background: #fac6ae;
  color: black;
}
/* footer-links */
.footer-links ul {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-size: 14px;
  list-style: none;
}
.footer-links ul li a {
  color: #777;
}

/* Order summary */
.order-summary {
  position: sticky;
  top: 0;
  right: 0;
  width: 45%;
  height: 100vh;
  padding: 40px;
  background-color: #fef3ea;
}
.order-price-summary {
  margin-top: 50px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.item img {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-right: 15px;
  object-fit: cover;
}

.item-info {
  flex: 1;
}

.item-info h4 {
  font-size: 16px;
  margin: 0 0 5px;
  font-weight: 500;
}

.item-info p {
  margin: 0;
  font-size: 14px;
  color: #333;
}
.item .item-des {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item .item-size p,
.item-price p {
  color: #666;
}
.subtotal,
.shipping,
.total {
  display: flex;
  justify-content: space-between;
}
.subtotal,
.shipping {
  font-size: 15px;
  color: #666;
}

@media (max-width: 430px) {
  .nav-icons {
    display: none;
  }
  .logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-contant {
    flex-direction: column-reverse;
  }
  .checkout-form,
  .order-summary {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #7d7d7d63;
  }
  .checkout-form {
    padding: 40px 20px;
  }
  .order-summary {
    height: auto;
    position: relative;
    top: auto;
    right: auto;
  }
  .nav-icons a:first-child {
    display: none;
  }
}
