.sticky {
  position: static;
}
.main-contant {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  overflow: visible;
}

.checkout-form {
  width: 65%;
}

.section {
  border-bottom: 1px solid #ddd;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.section-header a {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
}
/* inputs */
.section-input input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  margin-top: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.checkbox {
  display: flex;
  margin-top: 10px;
  font-size: 14px;
}

.checkbox input {
  margin-right: 8px;
}

.country-select {
  width: 100%;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 12px;
}

.row {
  display: flex;
  gap: 12px;
}
.row input {
  width: 50%;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 12px;
}
.col input {
  width: 100%;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 12px;
}
.phone-nmuber {
  width: 100%;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 12px;
}
.muted {
  color: #777;
  font-size: 14px;
}

/* Boxed options */
.boxed-option {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxed-option.active {
  border: 2px solid black;
}
.billing-address {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
/* Button */
.complete-order-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.complete-order-btn a {
  padding: 18px 40px;
  background: #f6c7b6;
  text-decoration: none;
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

.user-info {
  width: 50%;
}

.order-summary {
  position: sticky;
  top: 0;
  right: 0;
  width: 50%;
  padding: 40px 100px 40px 20px;
  border-left: 1px solid #666;
}
.order-price-summary {
  margin-top: 50px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item .item-des {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item .item-size p,
.item-price p {
  color: #666;
}
.subtotal,
.shipping,
.total {
  display: flex;
  justify-content: space-between;
}
.subtotal,
.shipping {
  font-size: 15px;
  color: #666;
}
