.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 45px;
}

/* Categories Hero Section */
.herosection {
  width: 100%;
  height: 70vh;
  padding: 0;
  background-image: url(/assets/images/hero2-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.fit-body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 0;
}

.newsletter-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 0 70px;
}
.newsletter-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.newsletter-content p {
  font-size: 18px;
  margin-bottom: 60px;
  color: #666;
}
.newsletter-form {
  display: flex;
  width: 100%;
}

.newsletter-form input {
  flex: 1;
  padding: 15px 0 15px 20px;
  border: 2px solid #ddd;
  border-right: none;
  border-radius: 10px 0 0 10px;
  font-size: 16px;
}
.newsletter-form button {
  background-color: #f2a68c;
  color: black;
  border: 2px solid #f2a68c;
  padding: 15px 30px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}
.newsletter-form button:hover {
  color: white;
  background-color: rgb(232, 154, 126);
  transform: scale(1.02);
}
.herosection-img {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.herosection-img img {
  height: 400px;
  width: auto;
  object-fit: contain;
  object-position: center;
  position: absolute;
  right: 60px;
  bottom: 0;
}

/* Contact Content */
.contact-content {
  padding: 40px 0;
}

.contact-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* Contact Form */
.contact-form {
  width: 100%;
}
.contact-form h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #333;
}

.form-group {
  margin-bottom: 25px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #555;
}

.form-control {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border 0.3s;
}

textarea.form-control {
  min-height: 150px;
  resize: vertical;
}

.submit-btn {
  background-color: #fac6ae;
  color: black;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.submit-btn:hover,
.subscribe-section a:hover,
.social-icons a:hover {
  background-color: #f2a68c;
  color: white;
}

/* Contact Info */
.contact-info {
  background-color: #fef3ea;
  padding: 40px;
  border-radius: 8px;
  width: 100%;
  height: fit-content;
  animation: floatingcard 3s ease-in-out 0s infinite;
}

@keyframes floatingcard {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}
.contact-info h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #333;
}

.info-item {
  display: flex;
  text-align: start;
  align-items: center;
  justify-content: start;
  margin-bottom: 30px;
  border-radius: 8px;
  padding: 5px 5px 5px 20px;
  transition: all 0.3s ease;
}

.info-item:hover {
  background: rgba(245, 171, 136, 0.283);
  transform: translateX(10px);
}
.info-icon {
  background-color: #fac6ae;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  flex-shrink: 0;
}

.info-icon i {
  font-size: 20px;
  color: #333;
}

.info-text h3 {
  font-size: 20px;
  /* margin-bottom: 5px; */
  color: #333;
}

.info-text p {
  color: #666;
}

/* map section */
.map-section {
  text-align: center;
  width: 100%;
  padding: 0 40px;
}
.map-container {
  width: 100%;
  overflow: hidden;
  margin: 10px auto;
}
.map-container iframe {
  width: 100%;
  height: 400px;
  border: none;
  background-color: #666;
}
@media (max-width: 768px) {
  .contact-grid {
    flex-direction: column;
  }
  .herosection-contant,
  .newsletter-content {
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
  .newsletter-content {
    width: 100%;
  }
  .herosection-img {
    display: none;
  }
}
@media (max-width: 430px) {
  .herosection {
    height: 60vh;
  }
  .contact-content .container {
    padding: 0 10px;
  }
  .map-section {
    padding: 0 10px;
  }
  .newsletter-form input {
    font-size: 12px;
    padding-left: 14px;
  }
  .newsletter-form button {
    padding: 10px 15px;
    font-size: 13px;
  }
  .newsletter-content h2 {
    font-size: 30px;
  }
  .newsletter-content p {
    font-size: 15px;
  }
  .contact-form h2 {
    font-size: 25px;
  }
  .form-control {
    padding: 10px;
    font-size: 12px;
  }
  .submit-btn {
    font-weight: normal;
  }
  .contact-info h2 {
    font-size: 25px;
  }
  .info-text h3 {
    font-size: 16px;
  }
  .info-text p {
    font-size: 13px;
  }
}
@media (max-width: 380px) {
  .info-item {
    flex-direction: column;
    /* justify-content: center; */
  }
  .info-icon {
    margin: 0 0 10px 0;
  }
  .info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info-text p {
    text-align: center;
  }
  .contact-info {
    text-align: center;
  }
  .contact-info h2 {
    font-size: 20px;
  }
}
