 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
html, body{
     width: 100%;
     min-height: 100%;
     scroll-behavior: smooth;
}

/* header */
.sticky{
    position: sticky;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    /* max-width: 1250px; */
    margin: 0 auto;
}
.sale-banner{
    font-family: "Roboto" ;
    background-color: #FAC6AE;
    color: black;
    text-align: center;
    width: 100%;
    padding: 10px;
}
.sale-banner p{
    background: inherit;
}
nav{
    font-family: "Roboto", sans-serif;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.nav-tabs{
    display: flex;
    list-style: none;
    width: 40%;
    flex: 1;
    justify-content: flex-start;
}
.nav-tabs a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px;
    border-radius: 4px;
    transition: all 0.3s ease;  
}
.nav-tabs a:hover{
    color: #FAC6AE;
    
}


.logo-container{
    display: flex;
    justify-content: center;
    width: 20%;
    flex: 1;
}
.logo{
    height: 70px;
    width: auto;
}
.nav-icons{
    display: flex;
    width: 40%;
    font-size: 18px;
    flex: 1;
    justify-content: flex-end;
    
}
.nav-icons a{
    color: black;
    text-decoration: none;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.3s ease;
}
.nav-icons a:hover{
    color: #FAC6AE;
}


/* hero section swiper */
.heroSwiper1{
    width: 100%;
    height: 520px;
    margin-top: 138px;
}

.heroSwiper1 .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    background-color: #FEF3EA;
    height: 520px;
}

.hero-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.heroSwiper1 .hero-text{
    width: 50%;
    text-align: left;

}

.heroSwiper1 .hero-text h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1.2;
}

.heroSwiper1 .hero-text p{
    font-size: 20px;
    padding-top: 20px;
    line-height: 1.5;
}

.heroSwiper1 .hero-btn{
    padding: 15px 24px;
    margin-top: 40px;
    background-color: #FAC6AE;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}
.hero-btn:hover,
.category-btn-div button:hover,
.heroSwiper2 .hero-btn:hover,
.heroSwiper2 .hero-btn:hover,
.product-container .body-fit .product-btn-div button:hover{
    background-color: #f2a68c;
    color: white;
}
.heroSwiper1 .hero-img {
    position: relative;
    width: 300px;
    height: 380px;
    display: inline-block;
    z-index: 1;
}

.heroSwiper1 .hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.heroSwiper1 .hero-img::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    border: 8px solid #f6c7b6;
    z-index: -1;
}


.heroSwiper1 .swiper-pagination {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 100;
}


.scrolling-text-marquee{
    width: 100%;
    background-color: #FAC6AE;
    text-transform: uppercase;
    font-size: larger;
    text-align: center;
}
.scrolling-text-marquee{
    display: flex;
    
    justify-content: center;
    text-align: center;
}

.scrolling-text-marquee h3{
    padding: 30px;
    margin: 0;
    font-weight: 500;
    font-size: larger;
}


.new-categories{
    padding: 10px 30px;
}
.new-categories h2{
    margin-bottom: 20px;
}
.categories-container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}
.custom-swiper {
      width: 100%;
      height: 100%;
      position: relative;
      box-sizing: border-box;      
    }

.custom-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.custom-slide .card-img{
    width: 100%;
    height: 90%;
}
.custom-slide img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.custom-slide .slide-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1px;
}
.custom-slide .slide-text p{
    font-size: smaller;
}
.custom-slide .slide-text p i{
    color: rgb(63, 62, 62);
}
.custom-slide .card-img:hover{
    transform: translateY(-5px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.15);
    transform: scale(1.01);
}

.category-btn-div button,
.product-container .body-fit .product-btn-div button{
    padding: 15px 25px;
    border: none;
    background-color: #FAC6AE;
}

.categories-container .category-btn-div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
} 
.custom-button-prev,
.custom-button-next {
    background: #f6c5ac; 
    color: black !important;
    
}






/* hero 2nd section swiper */
.heroSwiper2{
    width: 100%;
    height: 500px;
    background-image: url('/assets/images/hero2-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.heroSwiper2 .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    
    height: 520px;
}

.heroSwiper2 .hero-img {
    width: 300px;
    width: 50%;
    display: inline-block;
    z-index: 1;
    padding: 20px;
}

.heroSwiper2 .hero-img img {
    width: 90%;
    height: 100%;
    object-fit: cover;
}

.heroSwiper2 .hero-text{
    width: 50%;
    text-align: left;
    padding: 20px;
}

.heroSwiper2 .hero-text h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1.2;
}

.heroSwiper2 .hero-text p{
    font-size: 20px;
    padding-top: 1px;
}

.heroSwiper2 .hero-btn{
    padding: 15px 24px;
    margin-top: 40px;
    background-color: #FAC6AE;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

.product-container{
    height: auto;
    padding: 30px 0 0 0;
    width: 100%;
}
.body-fit{
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    width: 100%;
    
}
.products .title-section h2{
    margin-bottom: 25px;
}
.products{
    padding: 20px;
    width: 100%;
    height: auto;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    place-items: center;
}
.product-img{
    position: relative;
    height: 400px;
    width: 100%; 
    overflow: hidden;
    background-color: #FEF3EA;
}
.product-card{
    height: auto;
    width: 100%; 
     border-radius: 10px;
    transition: all 0.3s ease;
}

.product-card .card-image{
    width: 100%;
    height: 100%;
    border-radius: 1px;
    object-fit: contain;
    padding: 20px;
   
}
.product-card .card-image img{
    transition: all 0.3s ease;
}

.product-img-top{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 9px;
    left: 215px;
    gap: 10px;
    /* font-size: small; */
}
.product-img-top .like{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 1px; */
    background-color: #fac6ae;
    border: none;
    padding: 3px 8px;
    border-radius: 20px;
    font-size: small;
}
.product-img-top .like:hover{
    background-color: #f2a68c;
    cursor: pointer;
}
.product-img-top .product-bag{
    padding: 5px;
    background-color: #fac6ae;
    border: none;
    border-radius: 20px;
    font-size: small;
}
.product-img-top .product-bag:hover{
    background-color: #f2a68c;
    cursor: pointer;
}
.product-text-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.product-name p{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}
.product-price .text-stike{
    text-decoration: line-through;
    font-size: smaller;
    color: gray;
    margin-right: 10px;
}
.product-price .product-price-text{
    font-size: 17px;
    font-weight: 600;
    color: red;
}
.product-container .body-fit .product-btn-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0 20px;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}
.product-card:hover .product-img img{
    transform: scale(1.05);
}

.baner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.baner img{
    height: 100%;
    width: 100%;
    object-fit:fill;
    object-position: center;
}
/* footer */
.footer-container{
    width: 100%;
    height: auto;
    background-color: #FEF3EA;
}
.footer-top{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}
.footer-card{
    width: 200px;
    height: 100%;
    overflow: hidden;
    padding-top: 50px;
    object-fit: fill;
}
.footer-logo{
    height: 150px;
    width: auto;
}
.footer-card ul li{
    list-style: none;
    padding: 5px;
}
.footer-card ul h3{
    padding-bottom: 20px;
}
.footer-bottom{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 20px;
}
.footer-bottom .subscribe-section{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 300px;
}
.subscribe-section input{
    height: 100%;
    width: 80%;
    border: 2px solid white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    font-size: large;
}
.subscribe-section a{
    font-size: x-large;
    color: black;
    text-decoration: none;    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
    width: 20%;
    background-color: #FAC6AE;
    transition: all 0.3s ease;
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}
.social-icons a{
    text-decoration: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #f6c7b6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.footer-copyright{
    width: 100%;
    border-top: 2px solid black;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
    background-color: transparent;
}
.subscribe-section a:hover,
.social-icons a:hover{
    background-color: #f2a68c;
    color: white;
}