
/* hero section swiper */
.heroSwiper1{
    width: 100%;
    height: 520px;
    margin-top: 138px;
}

.heroSwiper1 .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FEF3EA;
    height: 520px;
}

.hero-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
}

.heroSwiper1 .hero-text{
    width: 50%;
    text-align: left;

}

.heroSwiper1 .hero-text h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1.2;
}

.heroSwiper1 .hero-text p{
    font-size: 20px;
    padding-top: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.heroSwiper1 .hero-btn{
    display: inline-block;
    padding: 15px 24px;
    margin-top: 50px;
    background-color: #FAC6AE;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}
.hero-btn:hover,
.category-btn-div a:hover,
.heroSwiper2 .hero-btn:hover,
.heroSwiper2 .hero-btn:hover,
.product-container .body-fit .product-btn-div a:hover{
    background-color: #f2a68c;
    color: white;
}
.heroSwiper1 .hero-img {
    position: relative;
    width: 300px;
    height: 380px;
    display: inline-block;
    z-index: 1;
}

.heroSwiper1 .hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.heroSwiper1 .hero-img::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    border: 8px solid #f6c7b6;
    z-index: -1;
}

.swiper-pagination-bullet-active{
    width: 35px !important;
    border-radius: 10px !important;
    background-color: #f2a68c !important;
}


.scrolling-bar{
    width: 100%;
    overflow: hidden;
    background-color: #FAC6AE;
    white-space: nowrap;
}
.scrolling-text{
    display: inline-flex;
    animation: scroll 10s linear infinite;
}
.scrolling-text h3{
    padding: 20px;
    margin: 0;
    font-weight: 500;
    font-size: x-large;
    text-transform: uppercase;
}
.scrolling-text span {
    display: inline-flex;
}

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }


.custom-nav {
    position: absolute;
    top: 220px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10px;
    z-index: 900;
}
.custom-nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEF3EA;
    color: #333;
    border: none;
    padding: 13px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.custom-nav button:hover {
    background-color:#fcc1a6;
    color: white;
}

.new-categories{
    position: relative;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.new-categories h2{
    margin-bottom: 20px;
}
.categories-container{
    width: 94%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.custom-swiper {
      width: 100%;
      height: 100%;
      position: relative;
      box-sizing: border-box;      
    }

.custom-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.custom-slide .card-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.custom-slide img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.custom-slide .slide-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1px;
}
.custom-slide .slide-text p{
    font-size: smaller;
}
.custom-slide .slide-text p i{
    color: rgb(63, 62, 62);
}
.custom-slide .card-img img:hover{
    transform: scale(1.1);
}


.category-btn-div a,
.product-container .body-fit .product-btn-div a{
    padding: 15px 25px;
    border: none;
    background-color: #FAC6AE;
    text-decoration: none;
    color: black;
}

.categories-container .category-btn-div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
} 







/* hero 2nd section swiper */
.heroSwiper2{
    width: 100%;
    height: 500px;
    background-image: url('/assets/images/hero2-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.heroSwiper2 .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    height: 520px;
}

.heroSwiper2 .hero-img {
    width: 300px;
    width: 50%;
    display: inline-block;
    z-index: 1;
    padding: 20px;
}

.heroSwiper2 .hero-img img {
    width: 90%;
    height: 100%;
    object-fit: cover;
}

.heroSwiper2 .hero-text{
    width: 50%;
    text-align: left;
    padding: 20px;
}

.heroSwiper2 .hero-text h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1.2;
}

.heroSwiper2 .hero-text p{
    font-size: 20px;
    padding-top: 1px;
}

.heroSwiper2 .hero-btn{
    display: inline-block;
    padding: 15px 24px;
    margin-top: 40px;
    background-color: #FAC6AE;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.product-container{
    height: auto;
    padding: 30px 0 0 0;
    width: 100%;
}
.body-fit{
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    width: 100%;
    
}
.products .title-section h2{
    margin-bottom: 25px;
}
.products{
    padding: 20px;
    width: 100%;
    height: auto;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    place-items: center;
}
.product-img{
    position: relative;
    height: 400px;
    width: 100%; 
    overflow: hidden;
    background-color: #FEF3EA;
}
.product-card{
    height: auto;
    width: 100%; 
     border-radius: 10px;
    transition: all 0.3s ease;
}

.product-card .card-image{
    width: 100%;
    height: 100%;
    border-radius: 1px;
    object-fit: contain;
    padding: 20px;
   
}
.product-card .card-image img{
    transition: all 0.3s ease;
}
.product-img{
    transition: box-shadow 0.4s ease, transform 0.4s ease;
}
.product-img-top{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 7px;
    left: 240px;
    gap: 10px;
}
.product-img-top .like{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #fac6ae;
    border: none;
    padding: 3px 8px;
    border-radius: 20px;
    font-size: small;
}
.product-img-top .like:hover,
.product-img-top .product-bag:hover{
    background-color: #f2a68c;
    cursor: pointer;
}
.product-img-top .product-bag{
    padding: 6px;
    background-color: #fac6ae;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-text-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.product-name p{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}
.product-price .text-stike{
    text-decoration: line-through;
    font-size: smaller;
    color: gray;
    margin-right: 10px;
}
.product-price .product-price-text{
    font-size: 17px;
    font-weight: 600;
    color: #333;
}
.product-container .body-fit .product-btn-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0 20px;
}
.product-card:hover .product-img img{
    transform: scale(1.05);
}

/* banner slider */
.banner-slider{
    height: 30rem;
    background-color:#FEF3EA;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.banner-slider .banner-logo{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 30px;
    left: 40px;
}
.banner-logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.baner{
    border: 1px solid black;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.baner img{
    height: 100%;
    width: 100%;
    object-fit:fill;
    object-position: center;
}

.test{
    height: 100%;
    width: 300px;
}
.test img{
    width: 100%;
    height: 100%;

}