/* product wraper */
.product-wrapper {
  width: 100%;
  margin: auto;
  padding: 30px 20px;
  display: flex;
  gap: 40px;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* left section */
.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* image */
.main-img {
  width: 100%;
  height: 450px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}

.main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}

/* thumbnail */
.thumbs {
  display: flex;
  gap: 12px;
}

.thumbs label {
  width: 75px;
  height: 75px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

.thumbs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* hide radio */
input[type="radio"] {
  display: none;
}

/* main image switch */
#img1:checked ~ .left .main-img img {
  content: url("/assets/images/sale-product (1).jpg");
}
#img2:checked ~ .left .main-img img {
  content: url("/assets/images/sale-product (2).jpg");
}
#img3:checked ~ .left .main-img img {
  content: url("/assets/images/sale-product (3).jpg");
}

/* active thumb outline */
#img1:checked ~ .left .thumbs .t1,
#img2:checked ~ .left .thumbs .t2,
#img3:checked ~ .left .thumbs .t3 {
  border-color: black;
}

/* right product info */
.right {
  width: 45%;
}

.right h1 {
  font-size: 30px;
  margin-bottom: 8px;
  font-weight: 600;
}

.stars {
  color: gold;
  margin: 10px 0;
}

.price {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 600;
}

.desc {
  margin: 15px 0;
  line-height: 1.6;
  color: #555;
}
/* selection-box */
.selection-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;
}
.selection-box .size-box {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.size-box label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
}
.size {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.size button {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 4px;
  background-color: white;
  font-weight: 500;
  color: black;
}
.size button.active {
  background-color: #fef3ea;
}
/* quantity box */
.quantity-box {
  margin: 20px 0;
}

.quantity-box label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
}

.quantity-box .qty-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #999;
  width: 140px;
  border-radius: 5px;
  overflow: hidden;
}

.quantity-box input {
  width: 60px;
  padding: 10px;
  border: none;
  text-align: center;
  font-size: 16px;
}

.quantity-box .qty-box button {
  border: none;
  background-color: #e4e4e4;
  padding: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}

.quantity-box .qty-box button:hover {
  background-color: #cfcfcf;
}

/* add to cart button */
.btn-cart {
  width: 100%;
  background-color: #fac6ae;
  color: black;
  padding: 15px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s ease;
}

.btn-cart:hover {
  background-color: #f2a68c;
}

/* related products */
.related-section {
  width: 90%;
  margin: 70px auto;
}

.related-section h2 {
  text-align: center;
  margin-bottom: 25px;
}

.related-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.related-card {
  width: 30%;
  background: white;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  transition: 0.3s ease;
}

.related-card .image-div {
  overflow: hidden;
}

.related-card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s ease;
}

.related-card:hover img {
  transform: scale(1.06);
}

.related-card h3 {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 600;
}

.related-card p {
  margin: 7px 0;
  font-size: 15px;
  font-weight: 500;
}

/* tablet */
@media (max-width: 992px) {
  .product-wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .left,
  .right {
    width: 100%;
  }

  .main-img {
    height: 380px;
  }

  .related-card {
    width: 47%;
  }
}

/* mobile */
@media (max-width: 600px) {
  .main-img {
    height: 300px;
  }

  .thumbs label {
    width: 60px;
    height: 60px;
  }

  .right h1 {
    font-size: 26px;
  }

  .price {
    font-size: 22px;
  }

  .related-card {
    width: 100%;
  }

  .related-card img {
    height: 200px;
  }
}
@media (max-width: 385px) {
  .selection-box {
    gap: 16px;
  }
  .selection-box .size-box,
  .selection-box .quantity-box {
    margin: 0;
  }
}
