 /* Import Local Fonts */
@font-face {
    font-family: 'RobotoCustom';
    src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
}
    @font-face {
    font-family: 'PoppinsCustom';
    src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PoppinsCustom', sans-serif;
    
    }
html, body{
     width: 100%;
     min-height: 100%;
     scroll-behavior: smooth;
}
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.582); /* dim + blur effect */
  backdrop-filter: blur(1px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 999;
}
/* cart overlay */
.cart-overlay.active {
    opacity: 1;
    visibility: visible;
}
.cart-sidebar.active {
  right: 0;
}

 /* Sale Banner */
.sale-banner{
    font-family: "Roboto" ;
    background-color: #FAC6AE;
    color: black;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}
.sale-banner p {
    background: inherit;
}

/* header */
.sticky{
    position: sticky;
    top: 0;
    z-index: 500;
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
/* Navigation */
nav{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: all 0.3s ease;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    max-width: 1400px;
    margin: 0 auto;
}

/* Logo */
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
}

.logo{
    height: 69px;
    width: auto;
    transition: height 0.3s ease;
}

/* Navigation Tabs */
.nav-tabs{
    display: flex;
    list-style: none;
    width: 40%;
    width: 33.33%;
    justify-content: flex-start;
}
.nav-tabs a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding: 8px;
    transition: all 0.3s ease;  
}
.nav-tabs a:hover{
    color: #FAC6AE;
    
}
/* Navigation Icon */
.nav-icons{
    display: flex;
    width: 40%;
    width: 33.33%;
    gap: 1px;
    justify-content: flex-end;
    align-items: center;
    
}
.nav-icons a{
    color: black;
    text-decoration: none;
    border-radius: 50%;
    padding: 8px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: larger;
}
.nav-icons a:hover{
    color: #FAC6AE;
    background-color: rgba(250, 198, 174, 0.1);
}


.nav-tabs a.nav-active {
    color: #f2a68c !important;
    font-weight: bold;
    border-bottom: 2px solid ;
}

.cart-link {
    position: relative;
}

.cart-count {
    position: absolute;
    top: 29%;
    right: 14%;
    background-color: #FAC6AE;
    color: #000;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

/* Cart Sidebar */
.cart-container{
    display: flex;
}
.cart-container .cart-overlay{
    position: fixed;
    width: 70%;
    background-color: black;
    height: 10vh;
}
.cart-sidebar {
  position: fixed;
  top: 0;
  right: -400px;
  width: 30%;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 10px rgba(0,0,0,0.2);
  transition: 0.4s ease;
  display: flex;
  flex-direction: column;
  z-index: 2000;
}
.cart-items{
    padding: 5px 20px;
    overflow-x: hidden;
}
.caret-sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    padding: 20px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.close-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 800;
  position: sticky;
  bottom: 0;
  z-index: 100;
}

.cart-header-text {
  font-size: 22px;
  font-weight: bold;
}
.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /* border-top: 1px solid #333; */
}
.item img {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-right: 15px;
  object-fit: cover;
}
.item-info {
  flex: 1;
}
.item-info h4 {
  font-size: 16px;
  margin: 0 0 5px;
  font-weight: 500;
}
.item-info p {
  margin: 0;
  font-size: 14px;
  color: #333;
}
.qty{
    display: flex;
    align-items: baseline;
    gap: 20px;
    margin-top: 8px;
}
.qty-controls{
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid #525252;
}
.qty-controls button{
    position: sticky;
    border: none;
    background-color: transparent;
    padding: 4px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.qty-controls button:hover{
    background-color: rgba(250, 198, 174, 0.1);
}

.qty a{
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid black;
}
.checkout-btn {
    margin-top: auto;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-top: 1px solid #979797;
}
.checkout-btn a{
    text-decoration: none;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
    background-size: 0% 100%;    /* hidden at start */
    background-position: left;
    background-repeat: no-repeat;
    border: 2px solid #FAC6AE;
    background-color: #FAC6AE;
    transition: all 0.4s ease;
}
 .checkout-btn a:hover{
    background-size: 100% 100%;
    border: 2px solid #000;
 }

/* footer */
.footer-container{
    width: 100%;
    height: auto;
    background-color: #FEF3EA;
}
.footer-top{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}
.footer-card{
    width: 200px;
    height: 100%;
    overflow: hidden;
    padding-top: 50px;
    object-fit: fill;
}
.footer-card a{
    text-decoration: none;
    color: #333;
}
.footer-card a:hover{
    color:#f2a68c;
}
.footer-logo{
    height: 150px;
    width: auto;
}
.footer-card ul li{
    list-style: none;
    padding: 5px;
}
.footer-card ul h3{
    padding-bottom: 20px;
}
.footer-bottom{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 20px;
}
.footer-bottom .subscribe-section{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 300px;
}
.subscribe-section input{
    height: 100%;
    width: 80%;
    border: 2px solid #f1ccbf;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    font-size: large;
}
.subscribe-section a{
    font-size: x-large;
    color: black;
    text-decoration: none;    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
    width: 20%;
    background-color: #FAC6AE;
    transition: all 0.3s ease;
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}
.social-icons a{
    text-decoration: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #f6c7b6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.footer-copyright{
    width: 100%;
    border-top: 2px solid black;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
    background-color: transparent;
}
.subscribe-section a:hover,
.social-icons a:hover{
    background-color: #f2a68c;
    color: white;
}


.whatsapp-ione{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color:#f6c7b6;
    color: #121212;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.3s ease;
    animation: pulse 2s infinite;

}
.whatsapp-tooltip{
    position: absolute;
    right: 70px;
    bottom: 15px;
    background-color: #333;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}
.whatsapp-ione:hover{
    background-color:#f2a68c;
    box-shadow: 2px 2px 15px rgb(0, 0, 0, 0.4);
    transform: scale(1.1);
}
.whatsapp-ione:hover .whatsapp-tooltip{
    opacity: 1;
    visibility: visible;
    
    
}
 @keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(240, 169, 145, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(37, 211, 102, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
    }
 }




 /*  */

 